<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "https://www.w3.org/TR/html4/loose.dtd">
<html xmlns="https://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />

<meta name="description" content="{{desc}}" />
<meta name="keywords" content="{{keywords}}" />

<title>Sid the Science Kid{{pageTitle}} | PBS KIDS</title>

{% include 'template_includes/bridge_js_include.html' %}
<script src="scripts/cookieScript.js" language="javascript"></script>
<script type="text/javascript" src="/includes/javascript/sites/sid/sid.js"></script>
<script src="scripts/homepageScript{{legacy}}.js" language="javascript"></script>
<script type="text/javascript" src="/includes/flash/swfobject.js"></script>
<script type="text/javascript" src="scripts/mootools.js"></script>
<!-- <script type="text/javascript" src="scripts/swfobject.js"></script> -->


<link rel="stylesheet" href="styles/homepageStyle.css" type="text/css" />
<link rel="stylesheet" href="styles/noFlashStyle.css" type="text/css" /> 

{{specialInclude|raw}}

</head>
<body bgcolor="#151540" style="margin:0;padding:0">

{% include 'template_includes/modern_headband_include.html' %}
{% include 'template_includes/modern_pbsk_js.html' %}

<center>
<div id="flashcontent">
<div class='fullPage'>
<table id="Table_01" width="960" height="646" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td width="88" height="94" colspan="2" rowspan="2"><a href='https://pbskids.org/'><img src="media/images/nonflash/sidthesciencekid_01.png" width="88" height="94" border=0 alt="pbskids.org"></a></td>
		<td width="136" height="94" colspan="2" rowspan="2"><a href='index.html'><img src="media/images/nonflash/sidthesciencekid_02.png" width="136" height="94" border=0 alt="Sid the Science Kid Home Page"></a></td>
		<td width="295" height="94" rowspan="2"><img src="media/images/nonflash/sidthesciencekid_03.png" width="295" height="94" alt=""></td>
		<td width="98" height="94" rowspan="2"><a href='games.html'><img src="media/images/nonflash/sidthesciencekid_04.png" width="98" height="94" border=0 alt="Games"></a></td>
		<td width="97" height="94" rowspan="2"><a href='videoplayer.html'><img src="media/images/nonflash/sidthesciencekid_05.png" width="97" height="94" border=0 alt="Video"></a></td>
		<td width="109" height="94" rowspan="2"><a href='funbook.html'><img src="media/images/nonflash/sidthesciencekid_06.png" width="109" height="94" alt="Print" border=0></a></td>
		<td width="137" height="43"><a href='/sid/parentsteachers/'><img src="media/images/nonflash/sidthesciencekid_07.png" width="137" height="43" alt="Parents" border=0></a></td>
	</tr>
	<tr>
		<td width="137" height="51"><a href='/sid/parentsteachers/'><img src="media/images/nonflash/sidthesciencekid_08.png" width="137" height="51" alt="Teachers" border=0></a></td>
	</tr>
	<tr>
		<td width="960" height="35" colspan="9"><img src="media/images/nonflash/sidthesciencekid_09.png" width="960" height="35" alt=""></td>
	</tr>
	<tr>
		<td width="960" height="456" colspan="9" style='background-color: #3399CC;' valign='top'>
			<div id="flashcontent">
			<!--noFlash full graphic content-->
			<div class="noFlashContainer">
			<div class="whiteTop"></div>
			<div class="whiteMiddle">
			<div class="noFlashContent">

	<table><tr><td><div style="float:left;margin-right:50px;margin-left:25px"> <img src="{{imgSrc}}" alt="{{imgAlt}}" /></div>
	</td><td>
	<div class="noFlashHeader"><b>Flash Plug-in Required for this Web site.</b></div>
	<div class="textContainer">
	<br />
	<b>
	{{msg|raw}}
<br /><br />
The site also has many early science exploration resources for <a href="parentsteachers/index.html">Parents and Teachers</a>.
		</b>
		</div><!--textContainer-->
		<div style="clear:both"></div>
		</td></tr></table>
		</div><!--noFlashContent-->
		</div><!--whiteMiddle-->
		<div class="whiteBottom"></div>
		</div><!--no flash message-->
</td>
	</tr>
	<tr>
		<td width="31" height="60"><img src="media/images/nonflash/sidthesciencekid_11.png" width="31" height="60" alt=""></td>
		<td width="154" height="60" colspan="2"><a href='/tvschedules/stationfinder.html'><img src="media/images/nonflash/sidthesciencekid_12.png" width="154" height="60" border=0 alt="TV Schedule"></a></td>
		<td width="775" height="60" colspan="6"><img src="media/images/nonflash/sidthesciencekid_13.png" width="775" height="60" alt=""></td>
	</tr>
	<tr>
		<td width="31" height="1"><img src="media/images/nonflash/spacer.gif" width="31" height="1" alt=""></td>
		<td width="57" height="1"><img src="media/images/nonflash/spacer.gif" width="57" height="1" alt=""></td>
		<td width="97" height="1"><img src="media/images/nonflash/spacer.gif" width="97" height="1" alt=""></td>
		<td width="39" height="1"><img src="media/images/nonflash/spacer.gif" width="39" height="1" alt=""></td>
		<td width="295" height="1"><img src="media/images/nonflash/spacer.gif" width="295" height="1" alt=""></td>
		<td width="98" height="1"><img src="media/images/nonflash/spacer.gif" width="98" height="1" alt=""></td>
		<td width="97" height="1"><img src="media/images/nonflash/spacer.gif" width="97" height="1" alt=""></td>
		<td width="109" height="1"><img src="media/images/nonflash/spacer.gif" width="109" height="1" alt=""></td>
		<td width="137" height="1"><img src="media/images/nonflash/spacer.gif" width="137" height="1" alt=""></td>
	</tr>
</table>
</div>



<script type="text/javascript" language="Javascript">
	placeShell("{{game}}");
</script>

{% block gameScript %}{% endblock %}

<div id="sponsors" class="sponsors">
<div id="sponsorsFull" class="sponsorsFull">

<div class="tvDiv">

    Find out when Sid the Science Kid is on <a href="/tvschedules/localizer.html?dest=/sid/index.html&nola=SISK">in your town.</a>

<!-- FIND ANOTHER STATION LINK -->
<br >
    
<br>

<a href='https://www.pbskidsplay.org/playnow/?CPLAYSM&amp;btn=1'><img src='media/images/pbskidsplay.gif' border=0></a>

<div class="producedByDiv">
<div class="producedByTitle">Produced by: </div>
<a href="https://henson.com"><img class="funder" src="media/images/jimHenson2.gif" alt="The Jim Henson Company"></a>
</div><!--producedByDiv-->

</div><!--tvDiv-->

<!-- REMOVED :: <div class="seperator"></div> -->

<div class="rightSide">

<center>
<div>
<a href="https://pbskids.org/mobile"><img class="science_fair_mobile" src="media/images/science_fair_mobile.png" alt="Link To Science Fair Mobile App" border=0></a>
</div>
</center>

<div class="fundingDiv">
<div class="fundingTitle"><img src="media/images/major_funding.png"/></div>
<div class="sponsorLogosDiv">

<a href="https://www.first5california.com/" rel="media/images/first_5_logo.png" rev="First Five California is a proud sponsor of Sid the Science Kid on PBS KIDS." title="First Five California" class="pbskids_bridge_sponsor"><img id ="first-funder" class="funder funderTop" src="media/images/first_5_logo.png" alt="First Five California is a proud sponsor of Sid the Science Kid on PBS KIDS"></a>
<a href="https://www.cpb.org/" rel="media/images/cpb_logo_bridge.gif" rev="CPB is a proud sponsor of Sid the Science Kid on PBS KIDS." title="CPB" class="pbskids_bridge_sponsor"><img class="funder funderTop" src="media/images/cpb_logo_new.png" alt="CPB is a proud sponsor of Sid the Science Kid on PBS KIDS"></a>

<br />

<a href="https://www.rosehillsfoundation.org/" rel="media/images/rosehills_logo.png" rev="The Rose Hills Foundation is a proud sponsor of Sid the Science Kid on PBS KIDS." title="The Rose Hills Foundation" class="pbskids_bridge_sponsor"><img class="funder funderBottom" src="media/images/roseHills2.gif" alt="The Rose Hills Foundation"></a>
<a href="https://www.sdbjrfoundation.org/" rel="media/images/bechtel_logo.png" rev="The S.D. Bechtel, Jr. Foundation is a proud sponsor of Sid the Science Kid on PBS KIDS." title="The S.D. Bechtel, Jr. Foundation" class="pbskids_bridge_sponsor"><img class="funder funderBottom" src="media/images/bechtel_logo.gif" alt="The S.D. Bechtel, Jr. Foundation is a proud sponsor of Sid the Science Kid on PBS KIDS."></a>
<img class="funder funderBottom" src="media/images/carson_logo.gif" alt="" >
<a href="https://www.avdf.org/" rel="media/images/avdf_logo.png" rev="The Arthur Vining Davis Foundations are a proud sponsor of Sid the Science Kid on PBS KIDS." title="The Arthur Vining Davis Foundations" class="pbskids_bridge_sponsor"><img class="funder funderBottom" src="media/images/ArthurViningDavis2.gif" alt="The Arthur Vining Davis Foundations" ></a>
<a href="https://www.metlife.org/" rel="media/images/met_life_logo_new.png" rev="The MetLife Foundation is a proud sponsor of Sid the Science Kid on PBS KIDS." title="MetLife Foundation" class="pbskids_bridge_sponsor"><img class="funder funderBottom" src="media/images/met_life_logo_new.png" alt="Met Life is a proud sponsor of Sid the Science Kid on PBS KIDS"></a>
</div><!-- sponsorLogosDiv -->
</div><!--fundingDiv-->

<div class="cr">&copy; 2011 The Jim Henson Company. Characters and elements are trademarks of The Jim
Henson Company. All Rights Reserved.
<br ><br >

<a class="quickLinks" href="index.html">Home</a> |
<a class="quickLinks" href="games.html">Games</a> |
<a class="quickLinks" href="videoplayer.html">Watch & Sing</a> |
<a class="quickLinks" href="funbook.html">Fun Book</a> <br>
<a class="quickLinks" href="parentsteachers/index.html">Parents</a> |
<a class="quickLinks" href="https://www.pbslearningmedia.org/collection/sid-the-science-kid/">Teachers</a> |
<a class="quickLinks" href="parentsteachers/siteMap.html">Site Map</a> |
<a class="quickLinks" href="https://pbskids.org/privacy/">PBS Kids Privacy Policy</a>

</div><!--cr-->
</div><!--rightSide-->
</div><!--sponsorsFull-->
</div><!--sponsors-->
<br><br>

</body>
</html>